<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
            <h2>Gimp</h2>
        </header>
        <h2>Before Editing</h2>
        <img src="images/beach.jpg" alt="beach">
        <img src="images/car.jpg" alt="Vintage car">
        <img src="images/cinque.jpg" alt="Cinque">
        <img src="images/cottage.jpg" alt="Cottage">
        <img src="images/oldtimer.jpg" alt="Old Car">
     </div>
     <div class="container">
        <h2>After Editing</h2>
        <p>Cropped and Resized</p>
        <img src="images/beach-gimp.jpg" alt="">
        <p>Flipped and Resized</p>
        <img src="images/car-gimp.jpg" alt="">
        <p>Cropped and Resized</p>
        <img src="images/cinque-gimp.jpg" alt="">
        <p>Flipped and Resized</p>
        <img src="images/cottage-gimp.jpg" alt="">
        <p>Flipped and Resized</p>
        <img src="images/oldtimer-gimp.jpg" alt="">

     </div>

</body>

</html>