body{
    background-color: rgb(232, 223, 210);
    color: #571d1d;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

header {
    min-height: 80px;
    text-align: center;
    color:#571d1d;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7d3c24;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1a5f3f;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

nav{
    text-align: center;
}

nav a{
    font-size: large;
     color:beige;
    padding: 10px 20px;
    text-align: center;
    background:#8e4931;
    font-weight:bold;
    text-decoration:none;
    margin-left:30px;
    border-radius:20px;
   
}
main img{
    width: 50%;
    display: block;
    margin: 20px auto;
}
main img{
     width: 40%;
    display: block;
    margin: 10px auto;
}

.image-container {
    display: flex;
  }
  .image-container img {
    max-width: 80%; 
    margin-right: 5px; 
  }
nav a:hover{
    color:#e0cdba;
    background:rgb(154, 66, 66);
    
}
a{
    color: #642c15;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
footer {
    background-color: #8B4513;
    font-size: medium;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
